[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
[Uu]serSettings/

[Bb]uild/
[Bb]uilds/
[Oo]bj/
*.csproj
*.sln
*.unitypackage

Library/PackageCache/com.unity.burst/

Packages/*
!Packages/manifest.json

Temp/
ProjectSettings/EditorBuildSettings.asset
ProjectSettings/EditorUserSettings.asset

*.meta
*.pidb
*.suo
*.user
*.userprefs
*.ilk
*.pdb
*.opendb
*.VC.db

.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db
